-e git+file://${PWD}@98a067e97cb10b0ff3d1eaf5624d9acdf9ec37a1#egg=octomap_python
-e git+file://${PWD}@7d04ec6e58d3a632a8cd1bce12c2b93b01f067eb#egg=trimesh
-e git+file://${PWD}@3606747d0177a71b243ff282f1e54dbbfc5246c6#egg=pyembree
autoprop==1.0.1
cycler==0.10.0
Cython==0.29.20
debugtools==0.2.0
decorator==4.4.2
distro==1.5.0
glooey==0.3.0
imageio==2.8.0
kiwisolver==1.2.0
logcolor==1.0.1
matplotlib==3.2.2
more-itertools==8.3.0
networkx==2.4
nptyping==1.3.0
numpy==1.18.5
packaging==20.4
Pillow==7.1.2
pyflakes==2.2.0
pyglet==1.5.5
pyparsing==2.4.7
python-dateutil==2.8.1
PyWavelets==1.1.1
PyYAML==5.3.1
Rtree==0.9.4
scikit-build==0.11.1
scikit-image==0.17.2
scipy==1.4.1
Shapely==1.7.0
six==1.15.0
tifffile==2020.6.3
typish==1.7.0
vecrec==0.3.0
